@import "variables";

#tagline{
    grid-column: 2 / 6;
    grid-row: 3 / 5;
}

#paragraph1{
    grid-column: 2 / 6;
    grid-row: 5 / 9;
}

#aboutCover{
    grid-column: 7 / 13;
    grid-row: 3 / 7;
}

@media screen and (max-width:$tabletBreakpoint) and (min-width:651px){ /* default tablet grid */
    #tagline{
        grid-column: 1 / 5;
        grid-row: 3 / 5;
    }

    #paragraph1{
        grid-column: 1 / 5;
        grid-row: 5 / 9;
    }

    #aboutCover{
        grid-column: 5 / 9;
        grid-row: 3 / 6;
    }
}

@media screen and (max-width:$mobileBreakpoint){ /* default mobile grid */
    #tagline{
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }

    #paragraph1{
        grid-column: 1 / 5;
        grid-row: 9 / 12;
    }

    #aboutCover{
        grid-column: 1/5;
        grid-row: 4 / 8;
    }

}