@import "variables";
$animationTime: 4s;

body, html{
    top:0;
    min-height: 100vh;
}

.gridContainer{
    grid-auto-rows: minmax(24px,auto);
}

#coverVideo{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

#mb{
    position: relative;

    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    margin:0;
    padding:0;  

    h2{
        font-weight: 600;
        font-size: 56px;
        margin-bottom: -20px;
    }
}

#subHolder{
    position: relative;

    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    margin:0;
    padding:0;

    align-self: top;
    justify-self: end;

    h3{
        text-align: right;
        font-family: $primaryTypography;
        animation: movesub;
        animation-duration: $animationTime;
    }
}

#design{
    position: relative;

    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    margin:0;
    padding:0;

    align-self: top;

    h2{
        font-family: $primaryTypography;
        font-weight: 500;
        font-size: 108px; 
        margin-top: -16px;
    }
}

@media screen and (max-width:$tabletBreakpoint){
    #coverVideo{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    #mb{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    
        h2{
            font-size: 40px;
            margin-bottom: -5px;
        }
    }
    
    #subHolder{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    
        h3{
            font-size: 16px;
            text-align: right;
            font-family: $primaryTypography;
        }
    }
    
    #design{
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;

        h2{
            font-family: $primaryTypography;
            font-weight: 500;
            font-size: 70px; 
            margin-top: -8px;
        }
    }
}

@media screen and (max-width:$mobileBreakpoint){
    #coverVideo{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
        z-index:2;
    }

    #mb{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: center;
        justify-self: center;
    
        h2{
            font-size: 48px;
            margin-bottom: 0px;
        }
    }
    
    #subHolder{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;

        width:100%;
        align-self: center;
        justify-self: center;

        display: flex;
        flex-wrap: none;
        justify-content: space-around;
        padding:0px;
    
        h3{
            width:33%;
            font-size: 6vw;
            text-align:center;
            font-family: $primaryTypography;
        }
    }
    
    #design{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;

        align-self: center;
        justify-self: center;

        h2{
            font-family: $primaryTypography;
            font-weight: 500;
            font-size: 20vw; 
            margin-top: -8px;
        }
    }
}


@media screen and (min-width: $tabletBreakpoint){
    #design, #mb, #subHolder{
        animation: moveName;
        animation-duration: $animationTime;
        animation-fill-mode: forwards;
    }
}


@keyframes moveName {
    0%{
        color: rgba(255, 255, 255, 0);
        margin-bottom: 300px;
    }
    60%{
        margin-bottom: 300px;
    }
    75%{
        color: rgba(255, 255, 255, 0);
    }
    100%{
        color:black;
        margin-bottom: 0px;
    }
}