@import "variables";
$animationTime: 2s;

body, html{
    top:0;
}

h1,h2,h3,h4,p{
    margin: 0;
}

#hero{
    min-height: 95vh;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 40px;
    margin-top: -40px;
}

#section2{
    margin-top: 0;
}

#coverVideo{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

#heroText{
    grid-column: 7/span 4;
    grid-row: 2/span 2;
    width: 100%;
    height: 100%;
}

#mb, #design{
    position: relative;
    margin:0;
    padding:0;  
    color: black;
}

#mb{
    font-family: $primaryTypography;
    font-weight: 600;
    font-size: 56px;
    margin-bottom: -20px;
}

#design{
    font-family: $primaryTypography;
    font-weight: 500;
    font-size: 120px; 
    margin-top: 12px;
    margin-left: -4px;
}

#squarePic{ grid-column: 8/span 1; grid-row: 5/span 1; width: 100%; height: auto; justify-self: end;}

#tagline{grid-column: 9/span 4; grid-row: 5/span 3; color:black}

#heroVid{
    width:100%;
    height:auto;
}

/* Problems section */

#section1head{grid-column: 1/span 12; grid-row: 1/span 1; color: white; font-size: 3.5em;}


.problemCont{
    h3{ color:$primaryColor; font-family: $primaryTypography; font-size: 2.5em; margin-top: 0px;}
    h4{ margin-top: 8px; color:white; font-size: 1.5em;}
}

#graphicContainer{ grid-column: 4/span 9; grid-row: 2/span 2;}
#webContainer{ grid-column: 4/span 9; grid-row: 4/span 2;}
#uiuxContainer{ grid-column: 4/span 9; grid-row: 6/span 2;}

#penIcon, #webIcon, #uiuxIcon{
    width: 100%; height: auto;
    grid-column: 1/span 2;
}

#penIcon{ grid-row: 2/span 2; }
#webIcon{ grid-row: 4/span 2; }
#uiuxIcon{ grid-row: 6/span 2;}

#contactLink{ grid-row: 8/span 1; grid-column: 1/span 13;}



/* Recent works section */

#project1{ grid-row: 3/span 3; grid-column: 1/span 4;}
#project2{ grid-row: 3/span 3; grid-column: 5/span 4;}
#project3{ grid-row: 3/span 3; grid-column: 9/span 4;}

#portfolioLink{ grid-row: 2/span 1; grid-column: 1/span 12; margin-top: 32px}

.projectContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.coverImage{
    position: relative;
    width: 100%;
    height: auto;
    padding:0;
    margin:0;
}

.descHolder{
    position: relative;
    border-radius: 8px;
    
    width: 100%;
    margin-left:-2px;
    margin-right:-2px;
    margin-top: 8px;
    margin-bottom: 32px;
    bottom: 0px;

    p{
        width: 100%;
        margin-top: 8px;
        color: black;
    }

    h3{
        width: 80%;
        border-bottom: 2px solid $secondaryColor;
        margin-bottom: 4px;
        padding-bottom: 4px;
        color: black;
    }

    a{
        color: black;
    }

/* Types of work section */



}

@media screen and (max-width:$tabletBreakpoint){
    #coverVideo{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    #heroText{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #mb{ 
        font-size: 48px;
        margin-bottom: -5px;
    }
    
    #design{
        font-size: 88px;
        margin-top: 0px;
    }

    #squarePic{ grid-column: 6/span 1; width: 70%; grid-row: 4/span 1;}
    #tagline{ grid-column: 7/span 4; grid-row: 4/span 1; font-size: 32px;}

    /* Problems section */

    #section1{grid-row-gap: 40px;}
    #section1head{grid-column: 1/span 8; grid-row: 1/span 1;}

    .problemCont{
        h4{ margin-top: 16px; }
    }

    #graphicContainer{ grid-column: 4/span 5; grid-row: 2/span 2;}
    #webContainer{ grid-column: 4/span 5; grid-row: 4/span 2;}
    #uiuxContainer{ grid-column: 4/span 5; grid-row: 6/span 2;}

    #penIcon, #webIcon, #uiuxIcon{
        width: 100%; height: auto;
        grid-column: 1/span 2;
    }

    #penIcon{ grid-row: 2/span 2; }
    #webIcon{ grid-row: 4/span 2; }
    #uiuxIcon{ grid-row: 6/span 2;}


    #project1{ grid-row: 3/span 3; grid-column: 1/span 4;}
    #project2{ grid-row: 3/span 3; grid-column: 5/span 4;}
    #project3{ display: none;}

    #portfolioLink{ grid-row: 2/span 1; grid-column: 1/span 7; margin-top: 32px;}
}

@media screen and (max-width:$mobileBreakpoint){
    #coverVideo{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 6;
        z-index:2;
        width: 100%;
    }

    #heroText{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        text-align: center;
    }

    #mb{ 
        font-size: 48px;
        margin-bottom: -5px;
    }
    
    #design{
        font-size: 88px;
        margin-top: 0px;
    }

    #squarePic{ grid-column: 1/span 4; width: 10%; grid-row: 7/span 1; justify-self: center;}
    #tagline{ grid-column: 1/span 4; grid-row: 6/span 1; font-size: 32px; width:80%; text-align: center; margin-left: auto; margin-right: auto;}

    #heroVid{
        display: block;
        width:85%;
        margin-top: -40px;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }

    #section1{ margin-top: 12px; text-align: center; }

    #section1head{grid-column: 1/span 4; grid-row: 1/span 1; }


    .problemCont{
        h3{ color:$primaryColor; width: 100%; text-align: center;}
        h4{ margin-top: 16px; text-align: center;}
    }

    #graphicContainer{ grid-column: 1/span 4; grid-row: 3/span 1;}
    #webContainer{ grid-column: 1/span 4; grid-row: 5/span 1;}
    #uiuxContainer{ grid-column: 1/span 4; grid-row: 7/span 1;}

    #penIcon, #webIcon, #uiuxIcon{
        margin-top: 40px;
        width: 100%; height: auto;
        grid-column: 2/span 2;
    }

    #penIcon{ grid-row: 2/span 1; }
    #webIcon{ grid-row: 4/span 1; }
    #uiuxIcon{ grid-row: 6/span 1;}


    #section2{ margin-top: 64px;}

    #project1{ grid-row: 3/span 1; grid-column: 1/span 4;}
    #project2{ grid-row: 4/span 1; grid-column: 1/span 4;}
    #project3{ display: none;}

    #portfolioLink{ grid-row: 5/span 1; grid-column: 1/span 4; margin-top: 32px;}
}