@import "variables";

html, body{
    margin: 0;
    padding: 0;
}

html{
    bottom:0;
    top:0;
}

body{
    bottom:0;
    top: 0;
    left:0;
    right: 0;
}

#header{
    position: fixed;
}

/* ------------------------------------- Tyopgraphy -------------------------------------*/

p, h1, h2, h3, h4{
    margin:0;
    padding: 0;
}

h1{font-family: $primaryTypography; font-weight: 600; font-size: 4.5em; color: black; line-height: 104px; margin-bottom: 32px;}
h2{font-family: $secondaryTypography; font-weight: 600; font-size: 2.5em; line-height: 1em; margin-bottom: 1.5em;}
// h2{font-family: $displayTypography; font-weight: 400; font-size: 48px; line-height: 56px; margin-bottom: 16px; text-transform: uppercase;}
h3{font-family: $displayTypography; font-weight: 600; font-size: 1.5em; line-height: 1.5em; margin-bottom: .25em;}
h4{font-family: $primaryTypography; font-weight: 700; font-size: 1em; line-height: 1.5em; margin-bottom: .25em;}

P{font-family: $primaryTypography; font-weight: 400; font-size: 1em; line-height: 1.5em; margin-bottom: .25em;}

a{
    color: $secondaryColor;
    text-decoration: none;
    i{
      font-size: $defaultIconSize;
      width: auto;
      
    }
    p{
      display: inline-block;
    }
  }
  a:hover{
    color: $primaryColor;
}

.iconLink{
    font-size: 24px;
    margin-left: 8px;
}


/* ------------------------------------- Grids, sizing and breakpoints  -------------------------------------*/

main{
    position:relative;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: $topMargin;
}

.gridContainer, .subGrid, .gridContainer2{ /* Used to contain nearly all elements, 12 8 4 setup */
    position:relative;
    display: grid;
    
    grid-column-gap: $desktopGridGap;
    grid-row-gap: 24px;
    
    align-items: start;
    justify-items: start;

    margin-right: auto;
    margin-left: auto;
}

.subGrid{
    grid-template-columns: repeat(auto-fill, $desktopColumnWidth);
}

.gridContainer, .gridContainer2{
    grid-template-columns: repeat(12, $desktopColumnWidth);
    
    
    width: $desktopContainerWidth;

    margin-bottom: $desktopRowHeight;
}

.gridContainer{
    grid-auto-rows: $desktopRowHeight;
}

/* Default grid elements */

.defaultModule{ /* default settings for element in grid */
    padding: 0;
    margin-top: 0;
}

#headline{
    border-bottom: 3px solid $primaryColor;

    width: 100%;
    grid-column-start: 1; grid-column-end: 7; grid-row-start: 1; grid-row-end: 2;  
    overflow: hidden;
    height: $desktopRowHeight*1.28;
    

    h1{
        animation: moveHeading;
        animation-duration: 1s;
        transition-timing-function: ease-in-out;
    }
}

.defaultGridImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.defaultGridImage2{
    width: 100%;
    height: auto;
}

.sectionTitle{
    width: 100%;
    border-bottom: 3px solid $primaryColor;
    padding-bottom: 8px;
}

@media screen and (max-width:$tabletBreakpoint) and (min-width:651px){ /* default tablet grid */
    .gridContainer, .subGrid, .gridContainer2{
        grid-template-columns: repeat(8, 1fr);
        grid-gap: $tabletGaps;
        width: auto;
        margin-right: $tabletSideMargins;
        margin-left: $tabletSideMargins;
    }

    .subGrid{
        margin: 0;
    }

    h2{font-size: 40px;}
}

@media screen and (max-width:$mobileBreakpoint){ /* default mobile grid */
    .gridContainer, .subGrid, .gridContainer2{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $mobileGaps;
        width: auto;
        margin-right: $mobileMargins;
        margin-left: $mobileMargins;
    }

    .subGrid{
        margin: 0;
    }

    #headline{
        grid-column-start: 1; grid-column-end: 5; grid-row-start: 1; grid-row-end: auto;  
    }

    h2{font-size: 2em;}
    h1{font-size: 3.5em;}
    
}

@keyframes moveHeading {
    0%{
        translate: 0px 300px;
    }
    100%{
        margin-bottom: 0px 0px;
    }
}


