@import "variables";

/* --------------------------- Navigation, footer and links --------------------------- */

#navContainer{ /* override the default row settings */
  grid-auto-rows: auto;
}

header{
    position: absolute;
    top:0;
    width: 100%;
    padding:0;
    margin:0;
    z-index: 10;
    background-color: white;
    border-bottom: 3px solid $primaryColor;
}

footer{
    position: relative;
    bottom:0px;
    width: 100%;
    padding:0;
    padding-top: 48px;
    padding-bottom: 88px;

    z-index: 8;
    background-color: white;
    border-top: 3px solid $primaryColor;
}

.header{
    padding-top:$moveNav;
    margin-top:-$moveNav;
    height:$navHeight;

    padding-bottom: 8px;
    transform:translateY(0px);
    transition: all $navigationAnimationTiming;
}

nav{
    margin-top:20px;
    position:relative;
    z-index: 11;
    ul{
        list-style: none;
    }
    li{
        display: inline-block;
    }
    a,p{
        color:black;
        font-family: $primaryTypography; 
        font-weight: 400; 
        font-size: 24px;
        text-decoration: none;
       
    }
    
    a:hover{
        color: $secondaryColor;
    }
}

#link1, #link2, #link3{ align-self: center; position:absolute;}

#link1{ grid-column-start: 1; grid-column-end: 3; }
#link2{ grid-column-start: 3; grid-column-end: 5; }
#link3{ grid-column-start: 5; grid-column-end: 7; }

#imgIcon{ /*logo icon*/
    height:48px;
    grid-column-start:12;
    grid-column-end: 13;
    justify-self: end;
    align-self: start;
}

#mbMenuIcon{
    height: 100%;
    width: auto;
}

#hamburgerDropdown{
    position:absolute;
    display:none;
    margin-top: -180px;
}

/* footer grid elements */

#socialContainer1, #socialContainer2, #socialContainer3{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: span 1;
}

.footerSocialContainer{
  width: 100%;
  a{

    text-decoration: none;
    i{
      font-size: $defaultIconSize;
      width: auto;
      color: $secondaryColor;
    }
    P{
      display: inline-block;
      font-size: 24px;
      margin-left: 8px;
      color: black;
    }
  }
  a:hover{
    color: $primaryColor;
  }
}

#footerCaption{
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;

  font-family: $primaryTypography;
  color: $primaryColor;
}

/* Code below from codeSTACKr */

.menu-btn {
    position: relative;
    display: none;
    justify-content: left;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all $navigationAnimationTiming;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: $barWidth;
    height: $barHeight;
    background: $primaryColor;
    border-radius: 2px;
    transition: all $navigationAnimationTiming;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: $barWidth;
    height: $barHeight;
    background: $primaryColor;
    border-radius: 5px;
    transition: all $navigationAnimationTiming;
  }
  .menu-btn__burger::before {
    transform: translateY(-12px);
  }
  .menu-btn__burger::after {
    transform: translateY(12px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .header.open{
    transform:translateY($moveNav);
  }

  @media screen and (max-width:$tabletBreakpoint)  and (min-width:651px){
    #imgIcon{ /*logo icon*/
      grid-column-start:8;
      grid-column-end: 9;
    }
  
    #footerCaption{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
    }
  }

@media screen and (max-width:$mobileBreakpoint){

    #link1,#link2,#link3{ display: none }
    .menu-btn{ display: flex; }
    #hamburgerDropdown{
        display:flex;
        flex-direction: column;
        gap: 30px;
    }

    #imgIcon{ /*logo icon*/
      grid-column-start:4;
      grid-column-end: 5;
    }

    #socialContainer1, #socialContainer2, #socialContainer3, #footerCaption{
      grid-column-start: 1;
      grid-column-end: 4;
    }

    #socialContainer1{
      grid-row-start: 1;
      grid-row-end: 2;
    }

     #socialContainer2{
      grid-row-start: 2;
      grid-row-end: 3;
    }

    #socialContainer2{
      grid-row-start: 3;
      grid-row-end: 4;
    }

    #footerCaption{
      grid-row-start: 5;
    }
}


