@import "variables";

// body, html{
//     top:0;
//     min-height: 100vh;
// }

body{
    background-color: rgb(253, 253, 253);
}

.gridContainer{
    grid-auto-rows: minmax(24px,auto);
}

#portfolioDescription{
    grid-column-start: 1; grid-column-end: 7; grid-row-start: 2; grid-row-end: 3;
}

#graphicFilter, #uiuxFilter, #webFilter{
    grid-column: span 4; grid-row-start: 2; grid-row-end: 3;
}

#projectGalleryHolder{
    grid-column-start: 1; grid-column-end: 13; grid-row-start: 5; grid-row-end: auto;
    width: 100%;
}

#filterUI{
    grid-column-start: 1; grid-column-end: 13; grid-row-start: 3; grid-row-end: 4;
    width: 100%;
}

.grid-sizer{
    width: 32%;
}

.gutter-sizer{
    width: 2%;
}

.projectContainer{
    position: relative;
    float:left;
    padding: 0;
    margin-bottom: 48px;

    width: 32%;
    height: 360px;
    // border-radius: 24px;
    // background-color: $greyColor;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

// .projectContainer > * {
//     margin: 0;
//     padding: 0;
// }

.coverImage{
    position: relative;
    width: 100%;
    height: auto;
    padding:0;
    margin:0;
}

.descHolder{
    position: relative;
    border-radius: 8px;
    
    width: 100%;
    // background-color: $primaryColor;
    margin-left:-2px;
    margin-right:-2px;
    margin-top: 8px;
    margin-bottom: 32px;
    // padding: 8px;
    bottom: 0px;

    p{
        width: 100%;
        margin-top: 8px;
    }

    h3{
        width: 80%;
        border-bottom: 2px solid $secondaryColor;
        margin-bottom: 4px;
        padding-bottom: 4px;
    }


}

.filterContainer{
    width: 100%;
    height: 40px;

    label{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top:-18px;

        background-color: $primaryColor;
        border-radius: 16px;

        h3{
            color: white;
            margin-bottom: -4px;

            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    input{
        display:none;
    }

    label:hover{
       cursor: pointer;
    }

    input:checked + label {
        
        border: solid 2px $primaryColor;
        background-color: white;
        margin:-2px;
        margin-top:-20px;
        

        h3{
            color: $primaryColor;
        }
    }
}

@media screen and (max-width:$tabletBreakpoint) and (min-width:651px){
    #projectGalleryHolder{
        grid-column-start: 1; grid-column-end: 9; grid-row-start: 5; grid-row-end: auto;
        width: 100%;
    }

    #headline{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;  
    }

    #portfolioDescription{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #filterUI{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
    }

    #graphicFilter, #uiuxFilter, #webFilter{
        grid-column: span 2; grid-row-start: 2; grid-row-end: 3;
    }

    .projectContainer{
        width: 49%;
    }

    .grid-sizer{
        width: 49%;
    }
    
    .gutter-sizer{
        width: 2%;
    }
}

@media screen and (max-width:$mobileBreakpoint){
    #projectGalleryHolder{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: auto;
        width: 100%;

        margin-top: 56px;
    }

    .filterContainer{
        label{
            margin-top: 24px;
        }
        input:checked + label {
        
            border: solid 2px $primaryColor;
            background-color: white;
            margin:-4px;
            margin-top: 24px;
            
    
            h3{
                color: $primaryColor;
            }
        }
    }

    #graphicFilter, #uiuxFilter, #webFilter{
        margin: 0px;
        grid-column: span 4;
    }

    #graphicFilter{grid-row-start: 1; grid-row-end: 2;}
    #uiuxFilter{grid-row-start: 2; grid-row-end: 3;}
    #webFilter{grid-row-start: 3; grid-row-end: 4;}

    #filterUI{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
        width: 100%;
    }

    .projectContainer, .grid-sizer{
        width: 100%;
    }

    .gutter-sizer{
        width: 0%;
    }
}



