@import url("https://use.typekit.net/oip8mrx.css");
/* ---------------------------------- colors ----------------------------------*/
/* ---------------------------------- typography ---------------------------------- */
/* ---------------------------------- grids n stuff ---------------------------------- */
/* breakpoints and widths */
/* Navigation Menu */
body {
  background-color: rgb(253, 253, 253);
}

.gridContainer {
  grid-auto-rows: minmax(88px, auto);
}

#graphicFilter, #uiuxFilter, #webFilter {
  grid-column: span 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#projectGalleryHolder {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: auto;
  width: 100%;
}

#filterUI {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: auto;
  width: 100%;
}

#filterTitle {
  grid-row: 1/span 1;
  grid-column: 1/5;
  align-self: center;
}

#filterDesc {
  grid-row: 2/3;
  grid-column: 1/13;
}

.grid-sizer {
  width: 32%;
}

.gutter-sizer {
  width: 2%;
}

.projectContainer {
  position: relative;
  float: left;
  padding: 0;
  margin-bottom: 48px;
  width: 32%;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.coverImage {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.descHolder {
  position: relative;
  border-radius: 8px;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: 8px;
  margin-bottom: 32px;
  bottom: 0px;
}
.descHolder p {
  width: 100%;
  margin-top: 8px;
  color: black;
}
.descHolder h3 {
  width: 80%;
  border-bottom: 2px solid #009AD7;
  margin-bottom: 4px;
  padding-bottom: 4px;
  color: black;
}
.descHolder a {
  color: black;
}

.filterContainer {
  width: 100%;
  height: 100%;
}
.filterContainer label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB3300;
  border-radius: 8px;
}
.filterContainer label h3 {
  color: white;
  margin-bottom: -4px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filterContainer input {
  display: none;
}
.filterContainer label:hover {
  cursor: pointer;
}
.filterContainer input:checked + label {
  border: solid 2px #EB3300;
  background-color: white;
  margin: -2px;
}
.filterContainer input:checked + label h3 {
  color: #EB3300;
}

@media screen and (max-width: 1200px) and (min-width: 651px) {
  #projectGalleryHolder {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: auto;
    width: 100%;
  }
  #headline {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #portfolioDescription {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #filterUI {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
  }
  #filterTitle {
    grid-row: 1/span 1;
    grid-column: 1/3;
  }
  #filterDesc {
    grid-row: 2/3;
    grid-column: 1/9;
  }
  #graphicFilter, #uiuxFilter, #webFilter {
    grid-column: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .projectContainer {
    height: auto;
    margin-bottom: 2%;
    width: 49%;
  }
  .grid-sizer {
    width: 49%;
  }
  .gutter-sizer {
    width: 2%;
  }
}
@media screen and (max-width: 650px) {
  #projectGalleryHolder {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: auto;
    width: 100%;
    margin-top: 56px;
  }
  .filterContainer input:checked + label {
    border: solid 2px #EB3300;
    background-color: white;
    margin: -4px;
  }
  .filterContainer input:checked + label h3 {
    color: #EB3300;
  }
  #filterTitle {
    grid-row: 1/span 1;
    grid-column: 1/5;
  }
  #filterDesc {
    grid-row: 2/3;
    grid-column: 1/5;
  }
  #graphicFilter, #uiuxFilter, #webFilter {
    margin: 0px;
    grid-column: span 5;
    grid-row: span 1;
  }
  #graphicFilter {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #uiuxFilter {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #webFilter {
    grid-row-start: 5;
    grid-row-end: 6;
  }
  #filterUI {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3/5;
    width: 100%;
  }
  .projectContainer, .grid-sizer {
    width: 100%;
  }
  .projectContainer {
    height: auto;
    margin-bottom: 2%;
  }
  .gutter-sizer {
    width: 0%;
  }
}

/*# sourceMappingURL=portfolio.css.map */
