@import url("https://use.typekit.net/nby1xyk.css");
@import "variables";

#heading1{ grid-column: 10/13; grid-row: 3/5;}
#imgContainer1{ grid-column: 1/10; grid-row: 3/7;}

.Montserrat{font-family: Montserrat; font-weight: 500;}
.Geom{ font-family: geom-graphic; font-weight: 500;}

.typo{font-size: 2em;}
.uppercase{ text-transform: capitalize;}
.italic{ font-style: italic;}
.bold{ font-weight: 700;}
.boldItalic{ font-style: italic; font-weight: 700;}

/* -------------------------------------------------------------------- */

#title2{ grid-column: 1/13; grid-row: 1/span 1;}

#heading2{ grid-column: 10/13; grid-row: 2/span 5;}

#imgContainer2{ grid-column: 1/span 3; grid-row: 2/span 2;}
#imgContainer3{ grid-column: 4/span 3; grid-row: 2/span 2;}
#imgContainer4{ grid-column: 7/span 3; grid-row: 2/span 2;}

#imgContainer5{ grid-column: 1/span 3; grid-row: 4/span 2;}
#imgContainer6{ grid-column: 4/span 3; grid-row: 4/span 2;}
#imgContainer7{ grid-column: 7/span 3; grid-row: 4/span 2;}

#imgContainer8{ grid-column: 1/span 3; grid-row: 6/span 2;}
#imgContainer9{ grid-column: 4/span 3; grid-row: 6/span 2;}
#imgContainer10{ grid-column: 7/span 3; grid-row: 6/span 2;}


#heading3{ grid-column: 10/13; grid-row: 9/span 2; }

#primaryColor{ grid-column: 1/span 3; grid-row: 9/span 4; background-color: #004b87; color: white;}
#secondaryColor{ grid-column: 4/span 3; grid-row: 9/span 4; background-color: #48bfad; color: white; }
#grayColor{ grid-column: 7/span 3; grid-row: 9/span 4; background-color: #e4e5e6; color: black;}

/* -------------------------------------------------------------------- */

#heading4{grid-column: 10/13; grid-row: 14/span 4;}

#montserratTitle{grid-column: 1/10; grid-row: 14/span 1;}
#montserratUpper{ grid-column: 5/span 4; grid-row: 15/span 1;}
#montserratLower{ grid-column: 1/span 4; grid-row: 15/span 1;}
#montserratNumbers{ grid-column: 1/span 4; grid-row: 16/span 1;}

#montserratRegular{grid-column: 1/span 4; grid-row: 17/span 1;}
#montserratItalic{grid-column: 5/span 4; grid-row: 17/span 1;}
#montserratBold{grid-column: 1/span 4; grid-row: 18/span 1;}
#montserratBoldItalic{grid-column: 5/span 4; grid-row: 18/span 1;}

#GeomTitle{grid-column: 1/10; grid-row: 20/span 1;}
#GeomUpper{ grid-column: 5/span 4; grid-row: 21/span 2; }
#GeomLower{ grid-column: 1/span 3; grid-row: 21/span 2;}
#GeomNumbers{ grid-column: 1/span 4; grid-row: 23/span 1;}

#GeomRegular{grid-column: 1/span 4; grid-row: 24/span 1;}
#GeomItalic{grid-column: 5/span 4; grid-row: 24/span 1;}
#GeomBold{grid-column: 1/span 4; grid-row: 25/span 1;}
#GeomBoldItalic{grid-column: 5/span 4; grid-row: 25/span 1;}

/* -------------------------------------------------------------------- */

#title3{ grid-column: 1/13; grid-row: 1/span 1; }

#imgContainer11{grid-column: 1/span 6; grid-row: 2/span 4}
#imgContainer12{grid-column: 7/span 6; grid-row: 2/span 4}
#imgContainer13{grid-column: 1/span 6; grid-row: 6/span 3}
#imgContainer14{grid-column: 7/span 6; grid-row: 6/span 3}

#imgContainer15{grid-column: 1/span 4; grid-row: 9/span 3}
#imgContainer16{grid-column: 5/span 4; grid-row: 11/span 3}
#imgContainer17{grid-column: 9/span 4; grid-row: 13/span 3}

#imgContainer18{grid-column: 1/span 12; grid-row: 16/span 5}
#imgContainer19{grid-column: 1/span 12; grid-row: 21/span 5}
#imgContainer20{grid-column: 9/span 4; grid-row: 26/span 3}

/* -------------------------------------------------------------------- */

#title4{ grid-column: 1/13; grid-row: 1/span 1; }

#heading5{ grid-column: 9/13; grid-row: 2/5; }

#imgContainer21{ grid-column: 1/span 8; grid-row: 2/6; background-color: #e4e5e6;}

#imgContainer22{ grid-column: 5/span 8; grid-row: 6/10;}

#imgContainer23{ grid-column: 5/span 8; grid-row: 10/14;}
#imgContainer24{ grid-column: 1/span 4; grid-row: 14/span 2;}
#imgContainer25{ grid-column: 5/span 4; grid-row: 14/span 2;}
#imgContainer26{ grid-column: 1/span 4; grid-row: 16/ span 2;}
#imgContainer27{ grid-column: 5/span 4; grid-row: 16/span 2;}

/* -------------------------------------------------------------------- */

#title5{ grid-column: 1/13; grid-row: 1/span 1; }
#heading6 { grid-column: 1/span 6; grid-row: 2/3;}

#imgContainer28{ grid-column: 1/span 6; grid-row: 3/span 3}
#imgContainer29{ grid-column: 7/span 6; grid-row: 3/span 3}

#imgContainer30{ grid-column: 1/span 6; grid-row: 6/span 3}
#imgContainer31{ grid-column: 7/span 6; grid-row: 6/span 3}


#imgContainer32{ grid-column: 1/span 6; grid-row: 9/span 3}
#imgContainer33{ grid-column: 7/span 6; grid-row: 9/span 3}

#imgContainer34{ grid-column: 1/span 6; grid-row: 12/span 3}

@media screen and (max-width:$tabletBreakpoint) and (min-width:651px){ /* default tablet grid */
    #heading1{ grid-column: 7/9; grid-row: 3/5;}
    #imgContainer1{ grid-column: 1/span 6; grid-row: 3/7;}

    /* 
    -------------------------------------------------------------------- */

    #title2{ grid-column: 1/9; grid-row: 1/span 1;}

    #heading2{ grid-column: 7/span 2; grid-row: 2/span 4;}

    #imgContainer2{ grid-column: 1/span 2; grid-row: 2/span 2;}
    #imgContainer3{ grid-column: 3/span 2; grid-row: 2/span 2;}
    #imgContainer4{ grid-column: 5/span 2; grid-row: 2/span 2;}

    #imgContainer5{ grid-column: 1/span 2; grid-row: 4/span 2;}
    #imgContainer6{ grid-column: 3/span 2; grid-row: 4/span 2;}
    #imgContainer7{ grid-column: 5/span 2; grid-row: 4/span 2;}

    #imgContainer8{ grid-column: 1/span 2; grid-row: 6/span 2;}
    #imgContainer9{ grid-column: 3/span 2; grid-row: 6/span 2;}
    #imgContainer10{ grid-column: 5/span 2; grid-row: 6/span 2;}

    #heading3{ grid-column: 7/span 2; grid-row: 9/span 2; }

    #primaryColor{ grid-column: 1/span 2; grid-row: 9/span 4; background-color: #004b87; color: white;}
    #secondaryColor{ grid-column: 3/span 2; grid-row: 9/span 4; background-color: #48bfad; color: white; }
    #grayColor{ grid-column: 5/span 2; grid-row: 9/span 4; background-color: #e4e5e6; color: black;}

    /* -------------------------------------------------------------------- */

    #heading4{grid-column: 7/9; grid-row: 14/span 4;}

    #montserratTitle{grid-column: 1/7; grid-row: 14/span 1;}
    #montserratUpper{ grid-column: 1/span 3; grid-row: 15/span 1;}
    #montserratLower{ grid-column: 4/span 3; grid-row: 15/span 1;}
    #montserratNumbers{ grid-column: 1/span 3; grid-row: 16/span 1;}

    #montserratRegular{grid-column: 1/span 3; grid-row: 17/span 1;}
    #montserratItalic{grid-column: 4/span 3; grid-row: 17/span 1;}
    #montserratBold{grid-column: 1/span 3; grid-row: 18/span 1;}
    #montserratBoldItalic{grid-column: 4/span 3; grid-row: 18/span 1;}

    #GeomTitle{grid-column: 1/7; grid-row: 20/span 1;}
    #GeomUpper{ grid-column: 1/span 3; grid-row: 21/span 2; }
    #GeomLower{ grid-column: 4/span 3; grid-row: 21/span 2;}
    #GeomNumbers{ grid-column: 1/span 3; grid-row: 23/span 1;}

    #GeomRegular{grid-column: 1/span 3; grid-row: 24/span 1;}
    #GeomItalic{grid-column: 4/span 3; grid-row: 24/span 1;}
    #GeomBold{grid-column: 1/span 3; grid-row: 25/span 1;}
    #GeomBoldItalic{grid-column: 4/span 3; grid-row: 25/span 1;}

    /* -------------------------------------------------------------------- */

    #title3{ grid-column: 1/9; grid-row: 1/span 1; }

    #imgContainer11{grid-column: 1/span 4; grid-row: 2/span 4}
    #imgContainer12{grid-column: 5/span 4; grid-row: 2/span 4}
    #imgContainer13{grid-column: 1/span 4; grid-row: 6/span 3}
    #imgContainer14{grid-column: 5/span 4; grid-row: 6/span 3}

    #imgContainer15{grid-column: 1/span 3; grid-row: 9/span 3}
    #imgContainer16{grid-column: 4/span 3; grid-row: 11/span 3}
    #imgContainer17{grid-column: 1/span 3; grid-row: 13/span 3}

    #imgContainer18{grid-column: 1/span 9; grid-row: 16/18}
    #imgContainer19{grid-column: 1/span 9; grid-row: 18/span 2}
    #imgContainer20{grid-column: 1/span 3; grid-row: 20/span 2}

    #title4{ grid-column: 1/13; grid-row: 1/span 1; }

    /* -------------------------------------------------------------------- */

    #heading5{ grid-column: 7/9; grid-row: 2/5; }

    #imgContainer21{ grid-column: 1/span 6; grid-row: 2/6; background-color: #e4e5e6;}

    #imgContainer22{ grid-column: 1/span 6; grid-row: 6/10;}

    #imgContainer23{ grid-column: 1/span 6; grid-row: 10/14;}
    #imgContainer24{ grid-column: 4/span 3; grid-row: 14/span 2;}
    #imgContainer25{ grid-column: 1/span 3; grid-row: 14/span 2;}
    #imgContainer26{ grid-column: 4/span 3; grid-row: 16/ span 2;}
    #imgContainer27{ grid-column: 1/span 3; grid-row: 16/span 2;}

    /* -------------------------------------------------------------------- */

    #title5{ grid-column: 1/9;}
    #heading6 { grid-column: 1/span 4; grid-row: 2/3;}

    #imgContainer28{ grid-column: 1/span 4; grid-row: 3/span 3}
    #imgContainer29{ grid-column: 5/span 4; grid-row: 3/span 3}

    #imgContainer30{ grid-column: 1/span 4; grid-row: 6/span 3}
    #imgContainer31{ grid-column: 5/span 4; grid-row: 6/span 3}


    #imgContainer32{ grid-column: 1/span 4; grid-row: 9/span 3}
    #imgContainer33{ grid-column: 5/span 4; grid-row: 9/span 3}

    #imgContainer34{ grid-column: 1/span 4; grid-row: 12/span 3}

}

@media screen and (max-width:$mobileBreakpoint){
    #heading1{ grid-column: 1/4; grid-row: 2/3;}
    #imgContainer1{ grid-column: 1/span 4; grid-row: 3/7;}

    /* 
    -------------------------------------------------------------------- */

    #title2{ grid-column: 1/5; grid-row: 1/span 1;}

    #heading2{ grid-column: 1/span 4; grid-row: 2/span 4;}


    #imgContainer2{ grid-column: 1/span 4; grid-row: 3/span 1;}
    #imgContainer3{ grid-column: 1/span 2; grid-row: 4/span 1;}
    #imgContainer4{ grid-column: 3/span 2; grid-row: 4/span 1;}

    #imgContainer5{ grid-column: 1/span 4; grid-row: 6/span 1;}
    #imgContainer6{ grid-column: 1/span 2; grid-row: 7/span 1;}
    #imgContainer7{ grid-column: 3/span 2; grid-row: 7/span 1;}

    #imgContainer8{ grid-column: 1/span 4; grid-row: 9/span 1;}
    #imgContainer9{ grid-column: 1/span 2; grid-row: 10/span 1;}
    #imgContainer10{ grid-column: 3/span 2; grid-row: 10/span 1;}

    #heading3{ grid-column: 1/span 4; grid-row: 13/span 1; }

    #primaryColor{ grid-column: 1/span 4; grid-row: 14/span 3; }
    #secondaryColor{ grid-column: 1/span 4; grid-row: 17/span 3;}
    #grayColor{ grid-column: 1/span 4; grid-row: 20/span 3; }

    /* -------------------------------------------------------------------- */

    #heading4{grid-column: 1/span 4; grid-row: 25/span 1;}

    #montserratTitle{grid-column: 1/5; grid-row: 27/span 1;}
    #montserratUpper{ grid-column: 1/5; grid-row: 28/span 1;}
    #montserratLower{ grid-column: 1/5; grid-row: 29/span 1;}
    #montserratNumbers{ grid-column: 1/5; grid-row: 30/span 1;}

    #montserratRegular{grid-column: 1/5; grid-row: 31/span 1;}
    #montserratItalic{grid-column: 1/5; grid-row: 32/span 1;}
    #montserratBold{grid-column: 1/5; grid-row: 33/span 1;}
    #montserratBoldItalic{grid-column: 1/5; grid-row: 34/span 1;}

    #GeomTitle{grid-column: 1/5; grid-row: 36/span 1;}
    #GeomUpper{ grid-column: 1/5; grid-row: 37/span 1; }
    #GeomLower{ grid-column: 1/5; grid-row: 38/span 1;}
    #GeomNumbers{ grid-column: 1/5; grid-row: 39/span 1;}

    #GeomRegular{grid-column: 1/5; grid-row: 40/span 1;}
    #GeomItalic{grid-column: 1/5; grid-row: 41/span 1;}
    #GeomBold{grid-column: 1/5; grid-row: 42/span 1;}
    #GeomBoldItalic{grid-column: 1/5; grid-row: 43/span 1;}

    /* -------------------------------------------------------------------- */

    #title3{ grid-column: 1/5; grid-row: 1/span 1; }

    #imgContainer11{grid-column: 1/span 5; grid-row: span 1}
    #imgContainer12{grid-column: 1/span 5; grid-row: span 1}
    #imgContainer13{grid-column: 1/span 5; grid-row: span 1}
    #imgContainer14{grid-column: 1/span 5; grid-row: span 1}

    #imgContainer15{grid-column: 1/span 5; grid-row: span 1}
    #imgContainer16{grid-column: 1/span 5; grid-row: span 1}
    #imgContainer17{grid-column: 1/span 5; grid-row: span 1}

    #imgContainer18{display: none;}
    #imgContainer19{display: none;}
    #imgContainer20{grid-column: 1/span 5; grid-row: span 1}

    #title4{ grid-column: 1/13; grid-row: 1/span 1; }

    /* -------------------------------------------------------------------- */

    #title4{ grid-column: 1/5;}

    #heading5{ grid-column: 1/5; grid-row: span 1; }

    #imgContainer21{ grid-column: 1/span 5; grid-row: span 1; }

    #imgContainer22{ grid-column: 1/span 5; grid-row: span 1;}

    #imgContainer23{ grid-column: 1/span 5; grid-row: span 1;}
    #imgContainer24{ grid-column: 1/span 5; grid-row: span 1;}
    #imgContainer25{ grid-column: 1/span 5; grid-row: span 1;}
    #imgContainer26{ grid-column: 1/span 5; grid-row: span 1;}
    #imgContainer27{ grid-column: 1/span 5; grid-row: span 1;}

    /* -------------------------------------------------------------------- */

    #title5{ grid-column: 1/5;}
    #heading6 { grid-column: 1/5; grid-row: span 1;}

    #imgContainer28{ grid-column: 1/span 4; grid-row: 2/span 1}
    #imgContainer29{ grid-column: 1/span 4; grid-row: 3/span 1}

    #imgContainer30{ grid-column: 1/span 4; grid-row: 4/span 1}
    #imgContainer31{ grid-column: 1/span 4; grid-row: 5/span 1}


    #imgContainer32{ grid-column: 1/span 4; grid-row: 6/span 1}
    #imgContainer33{ grid-column: 1/span 4; grid-row: 7/span 1}

    #imgContainer34{ grid-column: 1/span 4; grid-row: 8/span 1}
}